body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fffacd; /* Light Golden Color */
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ff6347; /* Tomato */
    margin-bottom: 30px;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    color: #ffa07a; /* Light Salmon */
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2em;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

thead {
    background-color: #20b2aa; /* Light Sea Green */
    color: #fff;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #20b2aa; /* Light Sea Green */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9f5ff;
}

a {
    color: #ff4500; /* Orange Red */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.button-container {
    text-align: center;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #4682b4; /* Steel Blue */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    background-color: #5f9ea0; /* Cadet Blue */
}
