{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Tech Services</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Tech_services.css' %}">
</head>
<body>
    <h1>Tech Services</h1>
    <h2>Free Tech Services</h2>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for service in free_services %}
            <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.price }}</td>
                <td><a href="{{ service.link }}" target="_blank">Visit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Paid Tech Services</h2>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for service in paid_services %}
            <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.price }}</td>
                <td><a href="{{ service.link }}" target="_blank">Visit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
