{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSA Gamify</title>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <button id="tech_connect" class="nav-button" onclick="window.location.href='/tech_connect/'"> Return to TechConnect Homepage</button>
</head>
<body>
    <h1>Welcome to DSA Gamify</h1>
    <div class="questions">
        {% for question in questions %}
        <div class="question">
            <p>{{ question.question_text }}</p>
            <form method="post" action="{% url 'submit_dsa_answer' %}">
                {% csrf_token %}
                <input type="hidden" name="question_id" value="{{ question.id }}">
                <div>
                    <input type="radio" name="option" value="{{ question.option1 }}"> {{ question.option1 }}<br>
                    <input type="radio" name="option" value="{{ question.option2 }}"> {{ question.option2 }}<br>
                    <input type="radio" name="option" value="{{ question.option3 }}"> {{ question.option3 }}<br>
                    <input type="radio" name="option" value="{{ question.option4 }}"> {{ question.option4 }}<br>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        {% endfor %}
    </div>
    <footer>
        <p>&copy; 2025 DSA Gamify</p>
    </footer>
</body>
</html>
