<!-- templates/dashboard.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <button id="product-listing" class="nav-button" onclick="window.location.href='/products/'"> Return to duttaEcommerce page</button>
    <button id="tech_connect" class="nav-button" onclick="window.location.href='/tech_connect/'"> Return to TechCconnect Homepage</button>
</head>
<body>
    <header>
        <h1>Job Seeker Dashboard</h1>
    </header>
    <main>
        <h2>Challenges Overview</h2>
        <table>
            <thead>
                <tr>
                    <th>Challenge</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for challenge, count in challenges_count.items %}
                <tr>
                    <td>{{ challenge }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <h2>Solutions Overview</h2>
        <p><strong>Total Solutions Provided:</strong> {{ solutions_count }}</p>
        <h3>Solution Links</h3>
        <ul class="solution-links">
            {% for link in solution_links %}
            <li>{{ link|safe }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
